/*LEFT*/
.FrameworksLeft > div {
    display: inline-block;
    text-align: center;
}

.FrameworksLeft > #imagediv {
    display: none;
}

.FrameworksLeft > #textdiv {
    width: 100%;
    vertical-align: top;
    position: relative;
    right: 5px;
    height: 100%
}

.FrameworksLeft > #textdiv > h1 {
    margin-top:15px;
    margin-bottom: 0px;
    font-size: 1.3em;
}

@media only screen and (min-width: 850px){
    .FrameworksLeft > #imagediv {
        width: 18%;
        display: inline-block;
    }
    .FrameworksLeft > #textdiv {
        width: 82%;
        vertical-align: top;
    }
    
    .FrameworksLeft > #textdiv > h1 {
        margin-top:11px;
        margin-bottom: 0px;
        font-size: 1.95em;
    }
}

.FrameworksLeft {
    display: inline-block;
    margin-left: 15%;
    width: 35%;
    height: 60px;
    padding: 0px 0px 0px 10px;
    font-family: 'Russo One', sans-serif;
    vertical-align: top;
    position: relative;
    left: -10px;
}



/*Right*/

.FrameworksRight > div {
    display: inline-block;
    text-align: center;
}

.FrameworksRight > #imagediv
{
    display: none;
}

.FrameworksRight > #textdiv {
    width: 100%;
    vertical-align: top;
    position: relative;
    left: 5px;
    height: 100%
}

.FrameworksRight > #textdiv > h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1.3em;
    vertical-align: 
}

@media only screen and (min-width: 850px){
    .FrameworksRight > #imagediv {
        width: 18%;
        height: 60px;
        display: inline-block;
    }
    
    .FrameworksRight > #textdiv {
        width: 82%;
        vertical-align: top;
    }

    .FrameworksRight > #textdiv > h1 {
        margin-top:11px;
        margin-bottom: 0px;
        font-size: 1.95em;
    }
}


.FrameworksRight {
    display: inline-block;
    width: 35%;
    height: 60px;
    padding: 0px 10px 0px 0px;
    font-family: 'Russo One', sans-serif;
    position: relative;
    right: 10px;
}

img {
    position: relative;
}

/*PyQt*/
#PyQtImage {
    height: 50px;
    top: 5px;
}

#PyQt {
    background-color: #162A12;
    color: #ffffe9;
}

/*Nunit*/
#NUnitImage {
    height: 60px;

}

#NUnit {
    background-color: #271E0D;
    color: #ffffe9;
}

/*Django*/
#DjangoImage {
    height: 50px;
    top: 5px;
}

#Django {
    background-color: #880A0C;
    color: #ffffe9;
}

/*ASPNET*/
#ASPNETImage {
    height: 50px;
    top: 5px;
}

#ASPNET {
    background-color: #120436;
    color: #ffffe9;
}


/*Xamarin*/

#XamarinImage {
    height: 50px;
    top: 5px;
}

#Xamarin {
    background-color: #0C7F50;
    color: #ffffe9;
}

/*React*/

#ReactImage {
    height: 60px;
    
}

#React {
    background-color: #0E6991;
    color: #ffffe9;
}