.languages > div {
    display: inline-block;
    text-align: center;
    
}

.imagediv {
    width: 9%;
}

.imagediv > img 
{
    display: none;
}

@media only screen and (min-width: 850px){
    .imagediv > img {
        display: inline-block;
    }
}

#textdiv {
    width: 82%;
    vertical-align: top;
}

#textdiv > h1 {
    margin-top:11px;
    margin-bottom: 0px;
    font-size: 1.95em;
}


img {
    position: relative;
}

.languages {
    margin-left: 15%;
    width: 70%;
    height: 60px;
    padding: 0px 10px 0px 10px;
    font-family: 'Russo One', sans-serif;
    position: relative;
    left: -10px;
}

/*C++*/

.JavaScriptImage {
    height: 56px;
    top: 2px;
}


#JavaScript {
    background-color: #7E812C;
    color: #ffffe9;
}

/*C++*/

.CPPImage {
    height: 56px;
    top: 2px;
}


#CPP {
    background-color: #2B455F;
    color: #ffffe9;
}

/*C#*/

.CSharpImage {
    height: 56px;
    top: 2px;
}


#CSharp {
    background-color: #645898;
    color: #ffffe9;
}

/*Rust*/

.RustImage {
    height: 50px;
    top: 5px;
}


#Rust {
    background-color: #C75800;
    color: #ffffe9;
}

/*Python*/

.PythonImage {
    height: 70px;
    top: -5px;
}

#Python {
    background-color: #043160;
    color: #ffffe9;
}