body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: #232321;
}

p {
    color: #00af00;
    background-color: #050505;
    margin-left: 15%;
    margin-top: 0px;
    padding: 10px 10px 10px 10px;
    margin-bottom:0;
    width: 70%;
    font-size: 1em;
    font-family: 'VT323', monospace;
    position: relative;
    left: -10px;
}

@media only screen and (min-width: 850px){
    p {
        color: #00af00;
        background-color: #050505;
        margin-left: calc(15%);
        margin-top: 0px;
        padding: 10px 10px 10px 10px;
        margin-bottom:0;
        width: 70%;
        font-size: 20px;
        font-family: 'VT323', monospace;
        position: relative;
        left: -10px;
    }
}

.console-link {
    color: #00af00;
}